.view-users-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /*When using border-box, the width and height you set include the content, padding, and borders */
    height: 100vh; /* Make the container fill the full height of the viewport */
    padding: 20px;
}

.users-card {
    flex: 1; /* Ensures the card stretches to fill the available height */
    display: flex;
    flex-direction: column;
}

.flat-table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are flat */
}

.flat-table th,
.flat-table td {
    border-bottom: 1px solid #e0e0e0; /* Minimal flat border for rows */
    padding: 8px;
    text-align: left;
}

.flat-table th {
    background-color: #f5f5f5; /* Light background for headers */
    font-weight: bold;
}

.flat-table tr {
    transition: background-color 0.3s;
}

.flat-table tr:hover {
    background-color: #f0f0f0; /* Subtle hover effect */
}

button.mat-flat-button {
    color: #3f51b5; /* Primary color for the button */
    text-transform: none; /* No uppercase transformation */
}

button.mat-flat-button:hover {
    background-color: rgba(63, 81, 181, 0.1); /* Light hover effect for flat buttons */
}