.sidenav-container {
  height: 100%;
}

.sidenav {
  width: auto;
}

.sidenav-list-item {
  display: flex;
  align-items: center;
}

span.material-symbols-outlined {
  margin-right: 8px;
}

.admin-login-section {
  padding: 16px;
  text-align: center;
}
