<div class="add-user-container">
    <form [formGroup]="userForm" (ngSubmit)="submit()" style="height: 100%;">
        <div class="form-container">
            <div class="form-columns">
                <!-- Basic Details Column -->
                <mat-card class="user-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Basic Details</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" placeholder="Enter full name" />
                        </mat-form-field>
    
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" placeholder="Enter email" />
                        </mat-form-field>
    
                        <mat-form-field appearance="outline">
                            <mat-label>Degree</mat-label>
                            <input matInput formControlName="degree" placeholder="Enter degree" />
                        </mat-form-field>
    
                        <mat-form-field appearance="outline">
                            <mat-label>Concentration</mat-label>
                            <input matInput formControlName="concentration" placeholder="Enter concentration" />
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
    
                <!-- Skills & Experience Column -->
                <mat-card class="user-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Skills & Experience</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field [appearance]="'outline'">
                            <mat-chip-grid #chipGrid formControlName="selectedSkills">
                                <mat-chip-row *ngFor="let skill of selectedSkills!.value" [removable]="true" (removed)="removeSkill(skill)">
                                    {{ skill }}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip-row>
                                <input placeholder="Add Programming languages, frameworks" [matAutocomplete]="auto" formControlName="skillInput"
                                    [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="addSkill($event)"/>
                            </mat-chip-grid>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectSkill($event)">
                                <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
                                    {{ skill }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        </mat-card-content>
                </mat-card>
    
                <!-- Preferences Column -->
                <mat-card class="user-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Preferences</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field appearance="outline">
                            <mat-label>Preferred Role</mat-label>
                            <mat-select formControlName="preferredRole">
                              <mat-option *ngFor="let role of predefinedRoles" [value]="role">
                                {{ role }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>                          
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="submit-button">
                <button mat-flat-button color="primary" type="submit" [disabled]="userForm.invalid">Save</button>
            </div>
        </div>
    </form>
</div>